code {
  background-color: #ddddff;
  padding: 2px 4px;
  border-radius: 2px;
}

.inputs {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.inputs > *:not(:last-child) {
  padding-bottom: 10px;
}

.input > *:not(:last-child) {
  margin-right: 10px;
}

.input-color {
  margin-left: 28px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.input-color > form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-color > form > *:first-child {
  width: 90px;
}
