code {
  background-color: #ddddff;
  padding: 2px 4px;
  border-radius: 2px;
}

.inputs {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.inputs > *:not(:last-child) {
  padding-bottom: 10px;
}

.input > *:not(:last-child) {
  margin-right: 10px;
}
